doctype html
html
    head
        title Raj Patel
        link(rel='stylesheet', href='css/onepage-scroll.css')
        link(rel='stylesheet', href='css/index.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Jura')
        script(src='https://code.jquery.com/jquery-3.4.1.min.js')
        script(src='js/lib/jquery.onepage-scroll.js')
        script(src='js/index.js')
    body
        //div
        //    p Copyright
        div.main
            section
                include includes/about
            section
                include includes/experience
            section
                include includes/education
            section
                include includes/resume