body {
  font-family: Lato;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 97%;
}

html {
  height: 100%;
}

.unityDiv {
  font-weight: bold;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0px;
  font-size: 1000%;
}

.xDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: bold;
  height: 50%;
  margin: 0px;
  vertical-align: top;
  font-size: 1000%;
}