body {
    font-family: 'Lato', sans-serif;
    background-color: #2b3b3b;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

body::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #2b3b3b;
}

body::-webkit-scrollbar
{
    width: 10px;
    background-color: #2b3b3b;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #318181;
}

.title {
    color: white;
    margin-top: .75vmax;
    display: none;
}

.title p {
    margin: 0;
}

.title a {
    text-decoration: none;
    color: white;
}

#title-name {
    font-size: 35px;
    font-weight: bold;
}

#title-contact {
    font-size: 18px;
    margin-top: .25vmax;
}

.linkedin {
    font-size: 18px;
}

.top-nav-bar li {
    display: none;
}

/*Strip the ul of padding and list styling*/
ul {
    list-style-type:none;
    margin: 1vmax;
    padding:0;
    position: relative;
    width: 288px;
}

#menu li {
    cursor: pointer;
}

#menu a {
    transition: font-size 200ms;
}

.active-nav-bar {
    font-weight: bold;
    font-size: 20px;
}

/*Create a horizontal list with spacing*/
li {
    display:inline-block;
    float: left;
    margin: 2px;
}
/*Style for menu links*/
li a {
    display:block;
    min-width:140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: #174f4f;
    text-decoration: none;
}
/*Hover state for top level links*/
li:hover a {
    background: #318181;
    font-size: 20px;
}
/*Style for dropdown links*/
li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
    background: #318181;
    color: #fff;
}
/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}
/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
    text-decoration: none;
    color: #fff;
    background: #2b3b3b;
    text-align: center;
    padding: 10px 0;
    display: none;
}

.top-nav-bar {
    font-size: 18px;
}

#nav-bar-icon {
    font-size: 3.5vmax;
    transition-duration: 1s;
}

@media screen and (max-width : 760px){
    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
        width: 100vw;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
}

.content {
    min-height: 70vh;
    margin: 1vmax;
    color: white;
    width: 90%;
}

.content-noshow {
    display: none;
}

.center-text {
    text-align: center;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container div {
    margin-bottom: 10px;
}

.home-container p {
    font-size: 18px;
    margin: 10px;
}

.abstract-text-container {
    width: 900px;
    max-width: 100%;
}

.justify-text {
    text-align: justify;
}

.current-state-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.current-state-text-container {
    width: 600px;
    max-width: 100%;
}

.sub-title {
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid white;
    margin: 0;
}

.sub-title-1 {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

#team-names {
    margin-top: 10px;
}

.team-names-container {
    width: 420px;
    max-width: 100%;
}

#meetings {
    width: 75%;
}

.meetings-sheet {
    width: 100%;
    height: 650px;
}

.footer {
    color: white;
    display: none;
    text-align: center;
    margin: .75vmax;
}

#footer-contact {
    margin-bottom: .25vmax;
}

.footer p {
    margin: 0;
}

.footer a {
    text-decoration: none;
    color: white;
}