/*#menu {*/
/*    position: fixed;*/
/*    right: 50%;*/
/*    top: 5%;*/
/*}*/

body {
    font-family: Jura;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_container {

}

.about_title {
    font-size: 3.5em;
    font-weight: bold;
}

.about_subtitle {
    font-size: 1.75em;
}