div.about_container
    img(src="images/profile_pic.JPG" height=200 alt='Avatar')
    div.about_info
        p.section_title Hello! I'm Raj Patel.
        p I'm currently a graduate student in Computer Engineering at the University of Utah. During my college career
          |  and through personal projects I learned many aspects of computer engineering such as: computer design,
          | operating systems, algorithms, networking, web development and many more. I take pride in putting time into
          | completing a task to insure it is concise for others to learn from it and improve it in the future.