div.flex_col_center_container
    p.section_title Experience
    div.exp_list
        div.exp_item
            p.exp_item_title Instructure
            p.exp_item_subtitle Software Engineer in Test Intern [Cottonwood Heights, UT&nbsp;&mdash;&nbsp;Summer 2018]
            ul
                li Conducted weekly regression testing to insure quality of the product.
                li Designed and implemented automated user work-flows for front-end testing.
                    ul
                        li Maximized test coverage while minimizing run time.
                li Implemented back-end API testing.
        div.exp_item
            p.exp_item_title Survey Sampling International
            p.exp_item_subtitle Software Engineer Intern [Lehi, UT&nbsp;&mdash;&nbsp;May 2017 to May 2018]
            ul
                li Created an Elastic Stack cluster for centralizing and searching logs of multiple applications.
                li Developed Linux version of an Object Telephony System (OTS) controller in a team using REST API architecture. [Node.js]
                li Unit tested the OTS Controller using Chai and Mocha frameworks.
        div.exp_item
            p.exp_item_title Utah Nanofab
            p.exp_item_subtitle Software Assistant/IT [University of Utah, SLC, UT&nbsp;&mdash;&nbsp;May 2016 to May 2017]
            ul
                li Developed front- and back-end of a time clock website. [Node.js]
                    ul
                        li Included automated emailing of time log reports.
                li Redesigned front-end of website which showed real-time updates of current active users in clean-room lab.
                li Built a custom Ubuntu installation disk equipped with custom desktop theme, restricted access user, and applications that comply with clean-room lab protocols.
                li Created a Chef server to monitor and automate updates for multiple computers.
        div.exp_item
            p.exp_item_title Unity X Website
            ul
                li An experimental side project which is being developed by a team to learn various techniques of developing web applications.
        div.exp_item
            p.exp_item_title KM Fasteners Website
            ul
                li Designed and created a dynamic website for a manufacturing business. [Node.js]
                li Implemented an administrator login page with SSL protocol.