div.flex_col_center_container.resume_container
    p.section_title Resume
        a(href="https://drive.google.com/open?id=19yrnTCe9U0r_7W6Tz_EnlqMxxB8RrUw_")
            img(src="images/download_icon.png" title="Download Resume" alt="Download" width="22")
    iframe(width='900vw', height='750vh', src='https://drive.google.com/file/d/19yrnTCe9U0r_7W6Tz_EnlqMxxB8RrUw_/preview')